@model IEnumerable<ComputerManager.Models.ordercompuer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ComputerManager.Models


<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 预定机房 <span class="c-gray en">&gt;</span> 预定机房<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
                <form action="" method="get">
                    日期范围：
                    <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
                    -
                    <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
                    <input type="text" class="input-text" name="keyword" style="width:250px" value="@(Request.QueryString["keyword"]!= null ? Request.QueryString["keyword"] :"")" placeholder="输入管理员号、管理员姓名" id="" name="">
                    <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜订单</button>

                </form>
            </div>


            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                    <a href="javascript:void(0)" onclick="member_add('添加订单', '@Url.Action("Edit")', '510', '600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加订单</a>
                </span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="100">订单编号</th>
                            <th width="70">学生学号</th>
                            <th width="70">计算机编号</th>
                            <th width="100">开始时间</th>
                            <th width="100">结束时间</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ordercompuer item in Model)
                        {
                            <tr class="text-c">
                                <td><input type="checkbox" value="1" name=""></td>
                                <td>@item.ocode</td>
                                <td>@item.sid</td>
                                <td>@item.coid</td>
                                <td>@item.Start_Date</td>
                                <td>@item.End_Date</td>

                                <td class="td-manage">
                                    <a title="编辑" href="javascript:void(0)" onclick="member_edit('编辑', '@Url.Action("Edit", new { Id = item.ocode })', '4', '510', '600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                    <a title="删除" href="javascript:void(0);" onclick="member_del(this, '@item.ocode')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('.table-sort').dataTable({
            "aaSorting": [[1, "desc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                { "orderable": false, "aTargets": [0, 8, 9] }// 制定列不参与排序
            ]
        });
        $('.table-sort tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    /*用户-添加*/
    function member_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*用户-查看*/
    function member_show(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }
    /*用户-编辑*/
    function member_edit(title, url, id, w, h) {
        event.preventDefault(); // 阻止事件的默认行为
        event.stopPropagation(); // 阻止事件的冒泡

        layer.open({
            type: 2,
            title: title,
            area: [w + 'px', h + 'px'],
            shadeClose: false, // 禁用点击弹窗外部关闭弹窗的功能
            content: url
        });
    }

     /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                url: '@Url.Action("Delete")? Id=id',
                type: 'POST',
                data: { id: id },
                success: function (result) {
                    if (result.success) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    } else {
                        //处理删除失败的情况
                        layer.msg('删除失败', { icon: 2, time: 1000 });
                    }
                },
                error: function () {
                    //处理请求出错的情况
                    layer.msg('请求出错！', { icon: 2, time: 1000 });
                }
            });

        });
    }
</script>
